@inject IWebHostEnvironment HostEnvironment

<NavLink href="" Match="NavLinkMatch.All" ActiveClass="active">
    <span class="ic"><TLIcon Name="grid" Size="18" /></span>
    Dashboard
</NavLink>

<NavLink href="tests" ActiveClass="active">
    <span class="ic"><TLIcon Name="doc" Size="18" /></span>
    Toetsen
</NavLink>

<NavLink href="export-by-test" ActiveClass="active">
    <span class="ic"><TLIcon Name="download" Size="18" /></span>
    Export per toets
</NavLink>

<NavLink href="wifi" ActiveClass="active">
    <span class="ic"><TLIcon Name="wifi" Size="18" /></span>
    Netwerk
</NavLink>

<NavLink href="ics-instellen" ActiveClass="active">
    <span class="ic"><TLIcon Name="doc" Size="18" /></span>
    ICS instellen
</NavLink>

@if (HostEnvironment.IsDevelopment())
{
    <NavLink href="dev/stations" ActiveClass="active">
        <span class="ic"><TLIcon Name="cog" Size="18" /></span>
        Dev Stations
    </NavLink>
}
